<div class="ui right vertical overlay sidebar menu">
  <a class="item" href="/"><b>Training</b></a>
 <div class="item">
    <b>Getting Started</b>
    <div class="menu">
      <a class="item" href="/">Building Your First App</a>
	  <a class="item" href="/">Adding the Action Bar</a>
	  <a class="item" href="/">Supporting Different Devices</a>
	  <a class="item" href="/">Managing the Activity Lifecycle</a>
	  <a class="item" href="/">Building a Dynamic UI with Fragments</a>
	  <a class="item" href="/">Saving Data</a>
	  <a class="item" href="/">Interacting with Other Apps</a>
    </div>
  </div>
 <div class="item">
    <b>Building Apps with Content Sharing</b>
    <div class="menu">
      <a class="item" href="/material_design/animation/authentic-motion.html">Sharing Simple Data</a>
      <a class="item" href="/material_design/animation/responsive-interaction.html">Sharing Files</a>
      <a class="item" href="/material_design/animation/meaningful-transitions.html">Sharing Files with NFC</a>
    </div>
  </div>


</div>